{{define "jul"}}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>JUL</title>
  <link rel="stylesheet" href="/static/CSS/styles1.css">
  <script src=></script>
</head>
<body>
  <h1>Albums de JUL</h1>
  <ul>
  {{range .}}
    <li>
      <div>Nom de l'album: {{.Name}}</div> <br>
      <div><img src="{{.CoverImage}}" alt="Album Cover" class="album-cover"></div> <br>
      <div>Date de sorti: {{.ReleaseDate}}</div>
      <div>Nombre de titre: {{.NumberOfSongs}}</div><br>
      <hr>
    </li>
    {{end}}
</body>
</html>
{{end}}